@charset "UTF-8";
@import './reset.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --image-profile: url(./assets/user2.jpg);
    --image-bg: url(./assets/banner005.jpg);
    --color-input-contrast-bg: #fafbfc;
    --color-e2: #e2e2e2;
    --color-ee: #eeeeee;
    --color-main-white: #ffffff;
    --color-main-black: #24292e;
    --color-main-purple: #9e89b8;
    --color-main-heavy-purple: #7b5e9e;
    --color-main-gray: #e2e2e2e7;
    --color-main-heavy-gray: gray;
    --color-main-blue: #2980b9;
    --color-main-green: #16a085;
    --color-main-orange: #f2b633;
    --color-main-carrot: #e67e22;
    --color-overlay-white: rgba(255, 255, 255, 0.2);
    --color-overlay-black: rgba(0, 0, 0, 0.5);
    --color-main-red: rgb(221, 41, 41);
    --color-save-green: rgb(23, 150, 23);
    --color-calendar-graph-day-border: rgb(27, 31, 35, 0.06);
    --color-calendar-graph-day-bg: rgb(27, 31, 35, 0.06);
    --color-calendar-graph-day-L1-bg: #e3d2fa;
    --color-calendar-graph-day-L2-bg: #b089e2;
    --color-calendar-graph-day-L3-bg: #7b4eb6;
    --color-calendar-graph-day-L4-bg: #533081;
    /* 특수 색상 */
    --login-field-gray: #a7a39c;
    --register-field-gray: #a7a39c;
    --exp-btn-tarquoise: #89b6be;
    --exp-btn-heavy-tarquoise: #769ea5;
    --answer-log-num: goldenrod;
    /* 폰트 */
    --font-logo: 'Lobster', cursive;
    --font-kor: 'Noto Sans KR', sans-serif;
    --font-eng: 'Open Sans', sans-serif;
    --font-eng-title: 'Noto Serif', serif;
    --font-description: 'Jua', sans-serif;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.logo {
    font-family: var(--font-logo);
}

.lang-eng {
    font-family: var(--font-eng);
}

.lang-kor {
    font-family: var(--font-kor);
}

.eng-title {
    font-family: var(--font-eng-title);
}

.font-description {
    font-family: var(--font-description);
}

h1 {
    font-size: 3em;
    font-weight: bold;
}

ul {
    list-style: none !important;
}

a {
    text-decoration: none !important;
    color: inherit;
}

img {
    max-width: 100%;
}

/* header */
#wrapper {
    display: flex;
    flex-direction: column;
}

#header {
    color: var(--color-main-white);
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;
}

/* header -> navigation */
.header-nav {
    width: 100%;
    margin: 20px 50px;
}
.header-nav ul {
    display: flex;
}

.header-nav ul .nav-item {
    flex: none;
    margin: 15px 30px;
    font-size: 16px;
    padding: 3px;
}

.header-nav ul .nav-item:hover {
    transition: 0.1s;
    color: var(--color-main-gray);
}

.header-nav ul .nav-item-gnb {
    position: absolute;
    right: 30px;
}

.header-nav > ul > .hidden {
    display: none;
    cursor: pointer;
}

.header-nav > ul > .bars {
    width: 62px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    padding: 30px;
}

.header-nav > ul > .nav-logo-q {
    position: absolute;
    right: 24px;
    top: 25px;
    z-index: 1000;
}

/* logout 상태 - 로그인 버튼 표시 */
#nav-login {
    display: flex;
    align-items: center;
    border: 2px solid var(--color-main-white);
    border-radius: 10px;
    min-height: 40px;
    height: 40px;
    padding: 0 15px;
    margin: 10px;
}
#nav-login:hover {
    border: 2px solid var(--color-main-gray);
    color: var(--color-main-gray);
    transition: 0.1s;
}

#nav-logout {
    display: flex;
    align-items: center;
    border: 2px solid var(--color-main-white);
    border-radius: 10px;
    min-height: 40px;
    height: 40px;
    padding: 0 15px;
}
#nav-logout:hover {
    border: 2px solid var(--color-main-gray);
    color: var(--color-main-gray);
    transition: 0.1s;
}

.menu-wrap {
    position: fixed;
    left: 0;
    top: 0px;
    right: 0;
    bottom: 0;
    display: none;
    background: rgba(0, 0, 0, 0.8);
}

.menu-wrap > i {
    text-align: center;
    width: 62px;
    left: 0;
    top: 0;
    padding: 30px;
    cursor: pointer;
}

.MenuOpen {
    display: block;
}

.menu-inner {
    background-color: var(--color-main-black);
    width: 100%;
    max-width: 320px;
    height: 100%;
    overflow: hidden;
}

.menu-item {
    width: 100%;
    line-height: 60px;
    padding-left: 20px;
    border-bottom: 1px solid black;
    color: #ccc;
    cursor: pointer;
}

.menu-user-wrap {
    padding: 20px;
}

.user-name-wrap {
    color: #bbb;
    font-size: 16px;
    margin-bottom: 32px;
    cursor: pointer;
}

/* tooltip box */
.tool-tip-box {
    display: inline-block;
    width: 100px;
    color: white;
    font-family: var(--font-kor);
}

.tool-tip-content {
    display: none;
    position: absolute;
    min-width: 100px;
    right: 0px;
    border-radius: 5px;
    padding: 10px;
    font-family: var(--font-kor);
    line-height: 25px;
    color: white;
    background: var(--color-overlay-black);
}
.tool-tip-content .tool-tip-mypage:hover {
    color: var(--color-main-gray);
}
.tool-tip-content .tool-tip-logout:hover {
    color: var(--color-main-gray);
}

.tool-tip-box:hover .tool-tip-content {
    display: block;
}

.tool-tip-content > a > div {
    text-align: center;
}

/* footer */
#footer {
    background-color: var(--color-main-black);
    color: var(--color-main-white);
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#copyright-text {
    text-decoration: none;
    color: var(--color-main-gray);
}
#copyright-text:hover {
    text-decoration: none;
    color: var(--color-main-heavy-gray);
    transition: 0.2s;
}

/* Home -> main */
/* banner */
.main-banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    z-index: 0;
    position: relative;
    min-height: 350px;
    width: 100%;
    height: 100vh;
    background: var(--image-bg) no-repeat center/cover;
    color: var(--color-main-white);
}
.main-banner-container .main-banner-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100;
}
.main-banner-container .main-banner-overlay .banner-wrap {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-banner-container .main-banner-overlay .banner-wrap .banner-title {
    line-height: 70px;
}
.main-banner-container .main-banner-overlay .banner-wrap .banner-desc {
    line-height: 30px;
}
.main-banner-container .main-banner-overlay .double-quotation {
    position: absolute;
    display: block;
    width: 150px;
    animation-name: bannerIcon;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-delay: 0s;
}
.main-banner-container .main-banner-overlay .double-quotation-l {
    left: -100px;
}
.main-banner-container .main-banner-overlay .double-quotation-r {
    right: -100px;
}

@keyframes bannerIcon {
    0% {
        top: 0px;
    }

    50% {
        top: 15px;
    }

    100% {
        top: 0px;
    }
}

/* question & answer */
.main-question-container,
.main-answer-container {
    margin: 0;
    padding: 250px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-answer-container > * {
    position: relative;
}
.main-answer-container > *:after {
    content: '»';
    font-size: 45px;
    position: absolute;
    opacity: 0;
    top: 0px;
    right: -30px;
    transition: 0.5s;
}

.main-answer-container > *:hover:after {
    opacity: 1;
    right: -40px;
}

.main-question-container {
    padding: 60px 0;
    color: var(--color-main-white);
    background-color: #382c3a;
    width: 100%;
}

.main-question-header {
    border-bottom: 2px solid var(--color-main-white);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.main-question-list {
    width: 90%;
    padding: 5%;
}

.q-nav > ul > li {
    margin: 1%;
    width: 23%;
    float: left;
    text-align: center;
}
.q-nav > ul > li .q_img {
    width: 180px;
}

.q-nav > ul > li:nth-child(1) > a > img {
    height: 168.78px;
}

.q_img {
    transition: all 0.5s;
}

.q_img:hover {
    transform: rotate(-15deg);
}

/* login */
.login-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    z-index: 0;
    position: relative;
    min-height: 650px;
    width: 100%;
    height: 100vh;
    background: var(--image-bg) no-repeat center/cover;
    color: var(--color-main-white);
}
.login-section .login-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}
.login-section .login-overlay .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-section .login-overlay .login-container > * {
    margin: 20px;
}
.login-section .login-overlay .login-container .login-tab-wrapper {
    line-height: 50px;
}

.register-tab,
.login-tab {
    margin: 10px 0;
}
.sub-tab {
    font-size: 23px;
    position: relative;
}

.sub-tab:before {
    content: '»';
    position: absolute;
    opacity: 0;
    top: -10px;
    right: -10px;
    transition: 0.5s;
}

.sub-tab:hover:before {
    opacity: 1;
    right: -20px;
}

/* .sub-tab:after {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '';
    color: transparent;
    background: #aaa;
    height: 2px;
    transition: all 0.5s;
}

.sub-tab:hover:after {
    width: 100%;
    color: #555;
} */

.login-field {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: 0;
    outline: 0;
    background: 0 0;
    padding: 0;
    margin: 10px 0px;
    font-size: 20px;
    font-weight: 700;
    color: var(--color-main-white);
    border-bottom: 2px solid var(--login-field-gray);
    transition: border 0.15s ease;
}
.login-field::placeholder {
    color: var(--login-field-gray);
}

.login-button {
    color: var(--color-main-white);
    width: 270px;
    background-color: var(--color-main-black);
    text-align: center;
    font-size: 20px;
    line-height: 50px;
}
.login-button:hover {
    cursor: pointer;
}

/* register */
.register-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    z-index: 0;
    position: relative;
    min-height: 650px;
    width: 100%;
    height: 100vh;
    background: var(--image-bg) no-repeat center/cover;
    color: var(--color-main-white);
}
.register-section .register-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}
.register-section .register-overlay .register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.register-section .register-overlay .register-container > * {
    margin: 10px;
}
.register-section .register-overlay .register-container .register-tab-wrapper {
    line-height: 50px;
}

.register-field {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: 0;
    outline: 0;
    background: 0 0;
    padding: 0;
    margin: 10px 0px;
    font-size: 20px;
    font-weight: 700;
    color: var(--color-main-white);
    border-bottom: 2px solid var(--register-field-gray);
    transition: border 0.15s ease;
}
.register-field::placeholder {
    color: var(--register-field-gray);
}

.login-err-field {
    height: 25px;
}

.register-err-field {
    height: 20px;
    font-size: 20px;
    font-weight: 700;
    color: var(--color-main-white);
}

.register-button {
    color: var(--color-main-white);
    width: 270px;
    margin: 17px 0px;
    background-color: var(--color-main-black);
    text-align: center;
    font-size: 20px;
    line-height: 50px;
}
.register-button:hover {
    cursor: pointer;
}

/* login, Register > sub tab */
.sub-tab {
    color: var(--color-main-gray);
}
.sub-tab:hover {
    color: var(--color-main-white);
    transition: 0.15s;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-transition: background-color 9999s ease-out;
    -webkit-text-fill-color: #fff;
}

/* common question */
.sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    z-index: 0;
    position: relative;
    min-height: 650px;
    width: 100%;
    height: 100vh;
    background: var(--image-bg) no-repeat center/cover;
    color: var(--color-main-white);
}
.sections .sections-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
}

/* question Main 페이지 */
.q-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .q-main-container > div {
    margin: 20px 0px;
} */

.q-main-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.q-main-content {
    text-align: center;
    padding: 0px;
    margin: 20px;
    min-width: 280px;
}
.q-main-content > div {
    line-height: 20px;
}

.question-description {
    height: 24%;
    font-size: 15px;
    clear: both;
}

.done-description {
    width: 98%;
    height: 80px;
    margin: 1%;
    border: 2px solid #dfe6e9;
    background-color: transparent;
    color: #dfe6e9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
}

.question-time,
.question-count {
    width: 48%;
    margin: 1%;
    height: 70%;
    background-color: #dfe6e9;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 20px;
    float: left;
}

.tome-time,
.tome-count,
.byother-time,
.byother-count {
    padding: 15px;
    font-size: x-large;
}

.reflection-description {
    width: 500px;
    margin: 2%;
    height: 46%;
    border: 2px solid #dfe6e9;
    background-color: transparent;
    color: #dfe6e9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
}

.reflection-nav {
    margin: 50px 0;
}

.q-main-nav {
    width: 300px;
    /* space-between 값이 적용되려면 width가 필요했다. */
    display: flex;
    justify-content: space-between;
}
.q-main-nav > div {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 65px;
}

.byother-nav-item > i,
.tome-nav-item > i,
.refl-nav-item > i,
.expr-nav-item > i {
    display: block;
    color: var(--color-main-white);
    transition: box-shadow 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.byother-nav-item > i:hover {
    color: #82ccdd;
}

.tome-nav-item > i:hover {
    color: #b089e2;
}

.refl-nav-item > i:hover {
    color: var(--color-main-orange);
}

.expr-nav-item > i:hover {
    color: var(--color-main-gray);
}
.nav-label {
    font-size: small;
    height: 19px;
    padding: 5px;
}

/* question Detail 페이지 틀*/
.list-container {
    position: relative;
    width: 700px;
    margin: auto;
}

/* question Detail 진행 상태 */
.progress-on {
    width: 100%;
    height: 3px;
    background-color: var(--color-ee);
}
.progress-on .progress-bar {
    height: 3px;
}

/* question Detail 페이지 이동 버튼*/
.move {
    cursor: pointer;
    transition: all 1s;
    background-color: transparent;
    border: none;
    position: absolute;
}
.move-pre {
    top: 45%;
    left: -80px;
}

.move-next {
    top: 45%;
    right: -80px;
}

.move-finish {
    top: 45%;
    right: -80px;
}

.move i {
    text-align: center;
    color: white;
    transition-delay: 1s;
    -webkit-transition: transform 0.3s ease-out;
    -moz-transition: transform 0.3s ease-out;
    -ms-transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.move-pre:hover i {
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    -o-transform: translateX(-5px);
    transform: translateX(-5px);
}

.move-next:hover i {
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
    transform: translateX(5px);
}

.move-finish:hover i {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
}

/* 답변 input design */
.answer-input {
    line-height: 50px;
    border-radius: 10px;
    width: 100%;
    margin: 10px 0px;
    outline: none;
    background-color: var(--color-main-white);
    border: none;
    padding: 0px 15px;
    font-size: medium;
}
.answer-input:focus {
    background-color: var(--color-input-contrast-bg);
    border: none;
}

/* answer to me */
/* ToMeList */
.tome-question-field {
    margin-bottom: 10px;
    padding: 30px;
    background-color: var(--color-overlay-black);
    display: flex;
}

.tome-question-num {
    font-size: x-large;
}

.tome-question-title {
    line-height: 30px;
    font-weight: 900;
    font-size: x-large;
}

.tome-answer-field > i {
    margin-left: 10px;
}

.move-hidden {
    display: none;
}

.move-hidden > * {
    height: 45px;
    width: 100%;
    margin: 1% 0;
    float: left;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

.tome-move-hidden > .prev-hidden {
    background: #bab8cc;
    color: var(--color-main-black);
}
.tome-move-hidden > .done-hidden,
.tome-move-hidden > .next-hidden {
    background: #7d769e;
    color: whitesmoke;
}

/* 과거 답변 페이지 History */
#history-wrap {
    width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
}

.history-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.history-header {
    width: 95%;
    display: flex;
    align-items: center;
    margin: 10px;
}

.history-home {
    margin: 5px auto 5px 0px;
    padding: 5px;
}

.history-back-btn {
    position: relative;
}

.back-label {
    display: none;
}

.history-back-btn:hover .back-label {
    display: block;
    position: absolute;
    top: -2px;
    animation-name: historyPreBtn;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-delay: 0s;
}

@keyframes historyPreBtn {
    0% {
        left: 20px;
        color: var(--color-main-gray);
    }
    100% {
        left: 30px;
    }
}
.history-elem-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 0 100px 0;
}
.history-elem-container .history-elem {
    position: relative;
}

.history-err-wrap {
    position: absolute;
    bottom: -50px;
    left: -40px;
    width: 155px;
}

.star {
    margin: 50px 2.5px 0 0;
    position: relative;
    display: block;
    width: 0px;
    height: 0px;
    border-right: 30px solid transparent;
    border-bottom: 20px solid var(--color-main-black);
    border-left: 30px solid transparent;
    transform: rotate(35deg);
}
.star:before {
    border-bottom: 24px solid var(--color-main-black);
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -15px;
    left: -18px;
    display: block;
    content: '';
    transform: rotate(-35deg);
}
.star:after {
    position: absolute;
    display: block;
    color: transparent;
    top: 0px;
    left: -29px;
    width: 0px;
    height: 0px;
    border-right: 30px solid transparent;
    border-bottom: 20px solid var(--color-main-black);
    border-left: 30px solid transparent;
    transform: rotate(-70deg);
    content: '';
}

.bar {
    border-right: 2px solid var(--color-main-black);
    width: 15px;
    height: 80px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--color-main-black);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}
.circle .sub-circle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
}
.circle .sub-circle:hover {
    animation-name: circleSpread;
    animation-duration: 0.01s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-delay: 0s;
}

@keyframes circleSpread {
    0% {
        width: 18px;
        height: 18px;
    }
    50% {
        width: 19px;
        height: 19px;
    }
    100% {
        width: 20px;
        height: 20px;
    }
}
#tome-purple-circle {
    border: 2px solid var(--color-main-heavy-purple);
    background-color: var(--color-main-heavy-purple);
}

#byothers-blue-circle {
    border-color: var(--color-main-blue);
    background-color: var(--color-main-blue);
}

#refl-orange-circle {
    border: 2px solid var(--color-main-orange);
    background-color: var(--color-main-orange);
}

.history-desc {
    position: absolute;
    left: 50px;
    bottom: 0px;
    width: fit-content;
}
.history-desc div {
    min-width: 100px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.history-desc .history-desc-date {
    font-size: 15px;
    color: var(--color-main-heavy-gray);
}

.scroll-on {
    width: 100%;
    height: 3px;
    background-color: var(--color-ee);
}
.scroll-on .scroll-bar {
    height: 3px;
    background-color: var(--color-main-red);
}

/* byother */
.byother-question-field {
    margin-bottom: 10px;
    padding: 30px;
    background-color: var(--color-overlay-black);
    display: flex;
}
.byother-question-field .byother-question-num {
    font-size: x-large;
}
.byother-question-field .byother-question-title {
    line-height: 30px;
    font-weight: 900;
    font-size: x-large;
}

.modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 50px;
    z-index: 100;
}

.modal {
    position: absolute;
    background-color: white;
    padding: 20px;
    margin: auto;
    width: 500px;
    min-width: 300px;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.5s;
    animation-name: animatetop;
    animation-duration: 0.5s;
    cursor: auto;
    z-index: 999;
}

.popup-content {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.popup-content > div {
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-main-black);
}

.popup-button-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-button-wrap button {
    display: inline-block;
    text-align: center;
    width: 145px;
    height: 40px;
    padding: 0 14px 0;
    border: 1px solid #555;
    border-radius: 3px;
    background-color: #555;
    font-size: 15px;
    color: #fff;
    line-height: 25px;
    margin: 5px;
    cursor: pointer;
}
.popup-button-wrap button:hover {
    background-color: white;
    color: var(--color-main-black);
    border: 1px solid var(--color-main-black);
}

.byother-move-hidden > .prev-hidden {
    background-color: #a8c1d1;
    color: var(--color-main-black);
}

.byother-move-hidden > .next-hidden,
.byother-move-hidden > .done-hidden {
    background-color: #2980b9;
    color: whitesmoke;
}

/* Experience Main 페이지 */
.exp-container {
    margin-top: 40px;
    width: 90%;
}

.exp-header {
    line-height: 50px;
}
.exp-header > h1 {
    padding: 10px;
}

.exp-content {
    height: 600px;
}

.exp-footer {
    margin: 10px;
}

.exp-start {
    display: flex;
    justify-content: center;
    align-items: center;
}

.exp-button {
    text-align: center;
    background-color: var(--exp-btn-tarquoise);
    border-radius: 30px;
    padding: 15px;
    width: 100%;
    max-width: 1000px;
    font-size: 20px;
}
.exp-button:hover {
    transition: 0.3s;
    background-color: var(--exp-btn-heavy-tarquoise);
}

/* Experience Form 페이지*/
.expr-wrap {
    color: var(--color-main-white);
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 900px;
    padding: 10px;
}
.expr-wrap .expr-header {
    line-height: 40px;
    font-size: 2em;
    font-weight: 900;
    color: var(--color-main-white);
}
.expr-wrap .expr-content {
    display: flex;
    flex-direction: column;
    background-color: var(--color-overlay-black);
    width: 100%;
    height: fit-content;
    padding: 20px;
    color: var(--color-main-white);
}

.input-field {
    font-family: var(--font-kor);
    padding: 5px;
    width: 99%;
    margin: 5px 0px;
    border: 1px solid transparent;
}
.input-field:focus {
    transition: 0.3s;
    outline: none;
    background-color: var(--color-main-white);
}

.expr-headline input {
    line-height: 10px;
    font-weight: 800;
    font-size: x-large;
    background-color: var(--color-e2);
    font-family: var(--font-kor);
}
.expr-headline input:-webkit-autofill,
.expr-headline input:-webkit-autofill:hover,
.expr-headline input:-webkit-autofill:focus,
.expr-headline input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-transition: background-color 9999s ease-out;
    -webkit-text-fill-color: var(--color-main-black);
}

.expr-text {
    overflow: auto;
}
.expr-text textarea {
    font-size: 15px;
    min-width: 300px;
    width: 100%;
    max-width: 99%;
    min-height: 100px;
    max-height: 300px;
}

.date-input {
    display: flex;
    align-items: center;
}
.date-input i {
    margin: 5px;
    color: var(--color-btn-contrast-bg);
}
.date-input i:hover {
    color: var(--color-main-purple);
}
.date-input input {
    margin: 5px 5px;
    border: none;
}
.date-input input:focus {
    border: none;
}

.file-wrapper {
    display: flex;
}
.file-wrapper .file-input {
    width: 80px;
    height: 80px;
    background-color: var(--color-e2);
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.theme-input input,
.link-input input {
    padding: 6px 5px;
}

.expr-add-btn {
    background-color: var(--color-main-purple);
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    color: var(--color-main-white);
    font-weight: 900;
}
.expr-add-btn:hover {
    transition: 0.3s;
    color: var(--color-main-white);
    background-color: var(--color-main-heavy-purple);
}

/* Exprience Done 페이지 */
.expr-done-btns {
    width: 300px;
    display: flex;
    justify-content: space-around;
}
.expr-done-btns > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* reflection Detail 페이지 */
.refl-move-hidden > * {
    background-color: wheat;
}

/* Account 계정 페이지 메인 */
.banner-section {
    width: 100%;
    height: 90px;
    background-color: var(--color-main-black);
}

#account-wrap {
    width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
}

.account-page-header {
    width: 100%;
}

.acc-title {
    font-weight: 900;
    font-size: 2em;
    padding: 20px;
}

.acc-header {
    font-size: large;
    color: var(--color-main-heavy-gray);
    font-weight: 900;
    padding: 15px 20px;
    border-bottom: 1px solid var(--color-ee);
    width: 100%;
}

.sidebar {
    min-height: 1080px;
    width: 25%;
    float: left;
    min-height: 900px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--color-e2);
    border-left: 1px solid var(--color-e2);
    border-bottom: 1px solid var(--color-e2);
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}
.profile .img-profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.profile .img-profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.profile .img-profile .empty-image {
    background: var(--image-profile) no-repeat center/cover;
    width: 150px;
    height: 150px;
    border: 1px solid var(--color-e2);
    border-radius: 50%;
}
.profile .profile-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
}
.profile .profile-infos .profile-info {
    font-family: var(--font-kor);
    line-height: 30px;
}
.profile .profile-infos .profile-name {
    font-size: 1.3em;
}

.nav-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 0px;
}
.nav-profile .nav-img-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.nav-profile .nav-img-profile img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.nav-profile .nav-img-profile .empty-image {
    background: var(--image-profile) no-repeat center/cover;
    width: 50px;
    height: 50px;
    border: 1px solid var(--color-e2);
    border-radius: 50%;
}

.profile-tabs {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.profile-tabs .profile-tab {
    padding: 10px;
    border-bottom: 1px solid var(--color-e2);
    height: 50px;
    display: flex;
    align-items: center;
}
.profile-tabs .profile-tab:first-child {
    border-top: 1px solid var(--color-e2);
}

.select-tab {
    border-left: 10px solid var(--color-e2);
}

.logout-button {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.account-form {
    min-height: 1080px;
    min-height: 900px;
    width: 75%;
    float: left;
}

.account-modal-overlay {
    background-color: rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 50px;
    z-index: 10;
}

.account-modal-wrap {
    background-color: white;
    padding: 20px;
    margin: auto;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    line-height: 25px;
}

.account-modal-header {
    font-size: large;
    font-weight: bold;
}

.account-modal-button {
    padding: 5px;
    margin: 30px auto 0px auto;
    border: #769ea5;
    border-radius: 5px;
    font-size: 15px;
    width: 50%;
}
.account-modal-button:hover {
    background-color: var(--color-main-heavy-gray);
    transition: 0.3s;
    color: var(--color-main-white);
}

.modify-profile-header {
    margin: 20px;
    font-size: large;
    color: var(--color-main-heavy-gray);
    font-weight: 900;
}

.modify-field {
    display: flex;
}

.user-avatar-img {
    background: var(--image-profile) no-repeat center/cover;
    border: 1px solid var(--color-e2);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: relative;
    margin: 20px 0 0 30px;
}

.user-avatar {
    position: relative;
    width: 200px;
    margin: 0px 30px;
}

.ab-avatar {
    position: absolute;
    bottom: 15px;
    right: 0px;
    background-color: var(--color-main-white);
    border: 1px solid var(--color-e2);
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

.user-img {
    border: 1px solid var(--color-e2);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: relative;
}

.modify-user-info {
    margin: 10px;
}

.info-detail {
    margin: 30px 5px;
    position: relative;
}

.user-name {
    min-width: 100px;
}

.user-email-input,
.user-name-input {
    background-color: var(--color-input-contrast-bg);
    border: 1px solid var(--color-e2);
    width: 200px;
    height: 30px;
    border-radius: 5px;
    font-family: var(--font-kor);
    line-height: 20px;
    padding-left: 5px;
}
.user-email-input:focus,
.user-name-input:focus {
    background-color: var(--color-main-white);
    outline: none;
    box-shadow: 0px 1px 0 rgba(225, 228, 232, 0.2);
}

.info-label {
    font-size: 14px;
    padding-bottom: 3px;
}

/* MyAccount - pwd */
.modify-pwd {
    border-top: 1px solid var(--color-ee);
    margin: 10px;
}
.modify-pwd .pwd-title {
    font-size: large;
    color: var(--color-main-heavy-gray);
    font-weight: 900;
    margin: 20px 0;
}
.modify-pwd .pwd-fields {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.modify-pwd .pwd-fields > div {
    margin: 15px 5px;
}

.pwd-input {
    background-color: var(--color-input-contrast-bg);
    border: 1px solid var(--color-e2);
    width: 180px;
    height: 30px;
    border-radius: 5px;
    margin-top: 5px;
    line-height: 20px;
    padding-left: 5px;
}
.pwd-input:focus {
    background-color: var(--color-main-white);
    outline: none;
    box-shadow: 0px 1px 0 rgba(225, 228, 232, 0.2);
}

.new-pwd-input {
    background-color: var(--color-input-contrast-bg);
    border: 1px solid var(--color-e2);
    width: 180px;
    height: 30px;
    border-radius: 5px;
    margin-top: 5px;
    line-height: 20px;
    padding-left: 5px;
}
.new-pwd-input:focus {
    background-color: var(--color-main-white);
    outline: none;
    box-shadow: 0px 1px 0 rgba(225, 228, 232, 0.2);
}

.re-new-pwd-input {
    background-color: var(--color-input-contrast-bg);
    border: 1px solid var(--color-e2);
    width: 180px;
    height: 30px;
    border-radius: 5px;
    margin-top: 5px;
    line-height: 20px;
    padding-left: 5px;
}
.re-new-pwd-input:focus {
    background-color: var(--color-main-white);
    outline: none;
    box-shadow: 0px 1px 0 rgba(225, 228, 232, 0.2);
}

/* err msg */
.err-wrap {
    position: absolute;
    bottom: -15px;
    width: 500px;
}

.err-msg {
    color: var(--color-main-red);
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}

.info-detail > .err-wrap {
    margin: -5px 0;
}

.acc-save {
    display: flex;
    width: 100px;
    height: 35px;
    align-items: center;
    justify-content: center;
    color: #cecece;
    border: 1px solid var(--color-e2);
    background-color: var(--color-main-white);
    margin: auto 20px 20px auto;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}
.acc-save:enabled {
    transition: 0.3s;
    color: var(--color-main-white);
    background-color: var(--color-main-heavy-purple);
}

/* 취소하기 & 이름 수정 */
.acc-save-name {
    width: 100px;
    height: 35px;
    border: 1px solid var(--color-e2);
    font-size: 15px;
    margin: 0px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.acc-save-name:enabled {
    transition: 0.3s;
    color: var(--color-main-white);
    background-color: var(--color-main-heavy-purple);
}

.acc-save-pw {
    display: flex;
    width: 150px;
    height: 35px;
    align-items: center;
    justify-content: center;
    color: #cecece;
    border: 1px solid var(--color-e2);
    background-color: var(--color-main-white);
    margin: auto 10px 10px auto;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
.acc-save-pw:enabled {
    transition: 0.3s;
    color: var(--color-main-white);
    background-color: var(--color-main-heavy-purple);
}

.acc-save-pw:disabled {
    cursor: default;
}

/* 이름 수정 시 생기는 '저장하기' 버튼 */
.acc-save-name-pwd {
    width: 100px;
    height: 35px;
    color: #cecece;
    border: 1px solid var(--color-e2);
    background-color: var(--color-main-white);
    margin: 0px 10px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}
.acc-save-name-pwd:enabled {
    transition: 0.3s;
    color: var(--color-main-white);
    background-color: var(--color-main-heavy-purple);
}

/* MyAnswer - 본문 */
/* content */
.user-ans-title {
    margin: 10px;
    font-weight: 900;
    font-size: 2em;
}

.content-header {
    font-size: large;
    color: var(--color-main-heavy-gray);
    font-weight: 900;
    padding: 15px 0px;
    border-bottom: 1px solid var(--color-ee);
    margin: 0px 30px 0px 30px;
}

.filter-list {
    display: flex;
    margin: 10px;
}

.year-click-text {
    font-size: small;
    margin-left: 20px;
    color: var(--color-main-red);
}

.year-link {
    border: 1px solid var(--color-ee);
    padding: 10px 30px;
    border-radius: 10px;
    margin: 10px;
    color: var(--color-main-black);
}

.year-link:hover {
    cursor: pointer;
    background-color: var(--color-ee);
}

svg {
    overflow: hidden;
}

.calendar-graph rect.day {
    shape-rendering: geometricPrecision;
    outline: 1px solid var(--color-calendar-graph-day-border);
    outline-offset: -1px;
}

.month {
    font-size: 10px;
    fill: var(--color-main-white);
}

.wday {
    font-size: 12px;
}

.category-wrapper {
    height: 50%;
    margin-right: 20px;
}

.category {
    padding: 10px 0px 10px 10px;
}

.category-day {
    display: flex;
}

.label {
    padding: 10px;
    cursor: default;
}

.label:hover {
    background-color: var(--color-ee);
}

.label-year,
.label-month {
    font-weight: 900;
}

.my-answers {
    display: flex;
}

.my-answer-elem {
    color: var(--color-main-black);
    margin: 0px 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.my-answer-elem:hover {
    cursor: pointer;
}

.answerbyme-btn {
    background-color: #fde2e4;
}

.answerbyothers-btn {
    background-color: #d6e2e9;
}

.answerforrefl-btn {
    background-color: #fff1e6;
}
.my-answer-container {
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.my-answer-title {
    margin: 10px;
    font-weight: 900;
    font-size: 2em;
}

.my-answer-content {
    margin: 5% auto;
    width: 90%;
    background-color: var(--color-main-white);
    display: flex;
    flex-direction: column;
}

.my-answer-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-answer-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.nav-btn {
    cursor: pointer;
}

.btn-pre {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: outset;
    color: var(--color-main-heavy-gray);
}

.btn-pre:hover {
    background-color: rgba(99, 42, 119, 0.082);
    transition: 0.2s;
}

.title-text {
    color: var(--color-main-heavy-gray);
    padding: 10px;
    font-weight: bold;
    font-size: 1.5em;
}

.date-text {
    color: var(--color-main-purple);
    margin: 0 0 0 auto;
}

.answers {
    background-color: var(--color-input-contrast-bg);
    width: 100%;
    border-radius: 10px;
    padding: 15px;
    margin: 5px 0px;
}

.question-field {
    font-weight: 900;
    font-size: large;
    line-height: 40px;
}

.answer-elem {
    line-height: 27px;
    font-size: 17px;
    margin: 10px 0px;
}

@media (max-width: 1240px) {
    #account-wrap {
        width: 100%;
    }

    #history-wrap {
        width: 100%;
    }
}
@media (max-width: 960px) {
    .logo {
        font-size: 2.5em;
    }

    .header-nav ul .nav-item {
        margin: 18px 10px;
        font-size: 14px;
    }

    .q-nav > ul > li {
        width: 48%;
        height: 200px;
    }

    .modify-field {
        flex-direction: column;
    }
    .list-container {
        width: 600px;
    }
}

@media (max-width: 760px) {
    .header-nav > ul > .nav-logo,
    .header-nav > ul > .nav-item,
    .header-nav > ul > .nav-item-gnb {
        display: none;
    }

    .header-nav > ul > .hidden {
        display: block;
    }

    .MenuOpen {
        display: block;
    }

    .sidebar {
        width: 100%;
        min-height: 300px;
    }

    .account-form {
        width: 100%;
    }
    .list-container {
        width: 98%;
        margin: 1%;
    }

    .list-container > .move-wrap > button {
        display: none;
    }

    .move-hidden {
        display: block;
    }
}
@media (max-width: 560px) {
    .q-nav > ul > li {
        width: 98%;
        line-height: 200px;
        vertical-align: middle;
    }

    .exp-header > h1 {
        font-size: 1.5em;
    }

    .acc-save-pw {
        width: 94%;
        margin: 10px;
        height: 40px;
        border-radius: 5px;
    }

    .acc-save-name,
    .acc-save-name-pwd {
        border-radius: 5px;
        margin: 10px auto;
        width: 100%;
    }

    .user-avatar {
        margin: 0 auto;
    }

    .user-name-input,
    .user-email-input,
    .pwd-input,
    .new-pwd-input,
    .re-new-pwd-input {
        width: 100%;
    }

    .reflection-description {
        width: 100%;
    }

    .date-input {
        display: inline-block;
    }

    .sub-tab:before {
        opacity: 1;
        right: -20px;
    }
}

/* 햄버거 메뉴 */
@media (min-width: 768px) {
    .menu-wrap {
        display: none;
    }
}

/* 높이에 따른 반응형 */
@media (max-height: 800px) {
    .exp-content {
        height: 400px;
    }

    .exp-header > h1 {
        font-size: 2em;
    }
}
@media (max-height: 480px) {
    .main > section:nth-child(1) {
        display: none;
    }

    .header-nav > ul > .nav-logo,
    .header-nav > ul > .nav-item,
    .header-nav > ul > .nav-item-gnb {
        display: none;
    }

    .main-question-container {
        padding: 120px 0px;
    }

    .main-question-list {
        width: 90%;
        padding: 5%;
    }

    .header-nav > ul > .hidden {
        display: block;
    }

    .MenuOpen {
        display: block;
    }

    .menu-inner {
        overflow: auto;
    }
    /* LOGIN, REGISTER  */
    .sub-tab:before {
        opacity: 1;
        right: -20px;
    }
}
