@import './reset.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --image-profile: url(./assets/user2.jpg);
    --image-bg: url(./assets/banner003.jpg);
    --color-input-contrast-bg: #fafbfc;
    --color-e2: #e2e2e2;
    --color-ee: #eeeeee;
    --color-main-white: #ffffff;
    --color-main-black: #24292e;
    --color-main-purple: #9e89b8;
    --color-main-heavy-purple: #7b5e9e;
    --color-main-gray: #e2e2e2e7;
    --color-main-heavy-gray: gray;
    --color-main-blue: #2980b9;
    --color-main-green: #16a085;
    --color-main-orange: #f39c12;
    --color-main-carrot: #e67e22;
    --color-overlay-white: rgba(255, 255, 255, 0.2);
    --color-overlay-black: rgba(0, 0, 0, 0.5);
    --color-main-red: rgb(221, 41, 41);
    --color-save-green: rgb(23, 150, 23);

    --color-calendar-graph-day-border: rgb(27, 31, 35, 0.06);
    --color-calendar-graph-day-bg: rgb(27, 31, 35, 0.06);
    --color-calendar-graph-day-L1-bg: #e3d2fa;
    --color-calendar-graph-day-L2-bg: #b089e2;
    --color-calendar-graph-day-L3-bg: #7b4eb6;
    --color-calendar-graph-day-L4-bg: #533081;

    /* 특수 색상 */
    --login-field-gray: #a7a39c;
    --register-field-gray: #a7a39c;
    --exp-btn-tarquoise: #89b6be;
    --exp-btn-heavy-tarquoise: #769ea5;
    --answer-log-num: goldenrod;

    /* 폰트 */
    --font-logo: 'Lobster', cursive;
    --font-kor: 'Noto Sans KR', sans-serif;
    --font-eng: 'Open Sans', sans-serif;
    --font-eng-title: 'Noto Serif', serif;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.logo {
    font-family: var(--font-logo);
}

.lang-eng {
    font-family: var(--font-eng);
}

.lang-kor {
    font-family: var(--font-kor);
}

.eng-title {
    font-family: var(--font-eng-title);
}

h1 {
    font-size: 3em;
    font-weight: bold;
}

ul {
    list-style: none !important;
}

a {
    text-decoration: none !important;
    color: inherit;
}

img {
    max-width: 100%;
}

/* header */
#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#header {
    color: var(--color-main-white);
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;
}

/* header -> navigation */

.header-nav {
    width: 100%;
    margin: 20px 50px;
}

.header-nav > ul {
    display: flex;
}
.nav-item {
    flex: none;
}

.nav-item-gnb {
    margin: auto 0px auto auto;
}

.header-nav > ul > li:nth-child(2),
.header-nav > ul > li:nth-child(3),
.header-nav > ul > li:nth-child(4),
.header-nav > ul > li:nth-child(5) {
    margin: 15px 30px;
    font-size: 16px;
    padding: 3px;
}

.header-nav > ul > li:not(:last-child) {
    &:hover {
        transition: 0.1s;
        color: var(--color-main-gray);
    }
}

/* logout 상태 - 로그인 버튼 표시 */
#nav-login,
#nav-logout {
    display: flex;
    align-items: center;
    border: 2px solid var(--color-main-white);
    border-radius: 10px;
    min-height: 40px;
    height: 40px;
    padding: 0 15px;

    &:hover {
        border: 2px solid var(--color-main-gray);
        color: var(--color-main-gray);
        transition: 0.1s;
    }
}

/* login 상태 - 프로필 이미지 표시 */

.profile-picture {
    width: 55px;
    height: 55px;
    margin: auto;
    background: var(--image-profile) no-repeat center/cover;
    z-index: 10;
    border-radius: 50%;
}

.profile-picture:hover {
    cursor: pointer;
}

/* tooltip box */
.tool-tip-box {
    display: inline-block;
    color: white;
    font-family: var(--font-kor);
}

.tool-tip-content {
    display: none;
    position: absolute;
    max-width: 300px;
    border-radius: 5px;
    padding: 10px;
    font-family: var(--font-kor);
    font-size: 1em;
    line-height: 25px;
    color: white;
    background: var(--color-overlay-black);

    .tool-tip-mypage:hover {
        color: var(--color-main-gray);
    }

    .tool-tip-logout:hover {
        color: var(--color-main-gray);
    }
}

.tool-tip-box:hover .tool-tip-content {
    display: block;
}

/* footer */
#footer {
    background-color: var(--color-main-black);
    color: var(--color-main-white);
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#copyright-text {
    text-decoration: none;
    color: var(--color-main-gray);

    &:hover {
        text-decoration: none;
        color: var(--color-main-heavy-gray);
        transition: 0.2s;
    }
}

/* Home -> main */
/* banner */

.main-banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    z-index: 0;
    position: relative;
    min-height: 350px;
    width: 100%;
    height: 100vh;
    background: var(--image-bg) no-repeat center/cover;
    color: var(--color-main-white);

    .main-banner-overlay {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 100;

        .banner-wrap {
            position: relative;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            .banner-title {
                line-height: 70px;
            }

            .banner-desc {
                line-height: 30px;
            }
        }

        .double-quotation {
            position: absolute;
            display: block;
            width: 150px;
        }

        .double-quotation-l {
            left: -100px;
        }
        .double-quotation-r {
            right: -100px;
        }
    }
}

/* question & answer */
.main-question-container,
.main-answer-container {
    margin: 0;
    padding: 150px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-question-container {
    padding: 60px 0;
    color: var(--color-main-white);
    background-color: #382c3a;
    width: 100%;
}

.main-question-header {
    border-bottom: 2px solid var(--color-main-white);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.main-question-list {
    width: 90%;
    padding: 5%;
}

.q-nav > ul > li {
    margin: 1%;
    width: 23%;
    float: left;
    text-align: center;
    .q_img {
        width: 180px;
    }
}

.q-nav > ul > li:nth-child(1) > a > img {
    height: 168.78px;
}
/* login */

.login-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    z-index: 0;
    position: relative;
    min-height: 350px;
    width: 100%;
    height: 100vh;
    background: var(--image-bg) no-repeat center/cover;
    color: var(--color-main-white);

    .login-overlay {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 100;

        .login-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & > * {
                margin: 20px;
            }

            .login-tab-wrapper {
                line-height: 50px;
            }
        }
    }
}

.login-field {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: 0;
    outline: 0;
    background: 0 0;
    padding: 0;
    margin: 10px 0px;
    font-size: 20px;
    font-weight: 700;
    color: var(--color-main-white);
    border-bottom: 2px solid var(--login-field-gray);
    transition: border 0.15s ease;

    &::placeholder {
        color: var(--login-field-gray);
    }
}

.login-button {
    color: var(--color-main-white);
    width: 270px;
    background-color: var(--color-main-black);
    text-align: center;
    font-size: 20px;
    line-height: 50px;

    &:hover {
        cursor: pointer;
    }
}

/* register */

.register-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    z-index: 0;
    position: relative;
    min-height: 350px;
    width: 100%;
    height: 100vh;
    background: var(--image-bg) no-repeat center/cover;
    color: var(--color-main-white);

    .register-overlay {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 100;

        .register-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & > * {
                margin: 10px;
            }

            .register-tab-wrapper {
                line-height: 50px;
            }
        }
    }
}

.register-field {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: 0;
    outline: 0;
    background: 0 0;
    padding: 0;
    margin: 10px 0px;
    font-size: 20px;
    font-weight: 700;
    color: var(--color-main-white);
    border-bottom: 2px solid var(--register-field-gray);
    transition: border 0.15s ease;

    &::placeholder {
        color: var(--register-field-gray);
    }
}

.login-err-field {
    height: 25px;
}

.register-err-field {
    height: 20px;
    font-size: 20px;
    font-weight: 700;
    color: var(--color-main-white);
}

.register-button {
    color: var(--color-main-white);
    width: 270px;
    margin: 17px 0px;
    background-color: var(--color-main-black);
    text-align: center;
    font-size: 20px;
    line-height: 50px;

    &:hover {
        cursor: pointer;
    }
}

/* login, Register > sub tab */

.sub-tab {
    color: var(--color-main-gray);

    &:hover {
        color: var(--color-main-white);
        transition: 0.15s;
    }
}

// 자동 완성 시 배경색 비활성
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-transition: background-color 9999s ease-out;
    // -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-text-fill-color: #fff;
}

/* common question */
.sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    z-index: 0;
    position: relative;
    min-height: 350px;
    width: 100%;
    height: 100vh;
    background: var(--image-bg) no-repeat center/cover;
    color: var(--color-main-white);

    .sections-overlay {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 100;
    }
}

/* question Main 페이지 */
.q-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > div {
        margin: 20px 0px;
    }
    .q-main-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .q-main-content {
        background-color: var(--color-overlay-black);
        padding: 20px;
        min-width: 300px;
        text-align: center;

        & > div {
            line-height: 30px;
        }
    }
    .q-main-nav {
        width: 300px;
        /* space-between 값이 적용되려면 width가 필요했다. */
        display: flex;
        justify-content: space-between;

        & > div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

/* question Detail 페이지 틀*/
.list-container {
    position: relative;
    width: 700px;
    margin: auto;
}

/* question Detail 진행 상태 */
.progress-on {
    width: 100%;
    height: 3px;
    background-color: var(--color-ee);

    .progress-bar {
        height: 3px;
    }
}

/* question Detail 페이지 이동 버튼*/
.move-pre {
    position: absolute;
    top: 45%;
    left: -80px;
}

.move-next {
    position: absolute;
    top: 45%;
    right: -80px;
}

.move i {
    text-align: center;
    // .move i:hover {
    //   background-color: rgba(99, 42, 119, 0.082);
    //   transition: 0.2s;
    // }
}

/* 답변 input design */
.answer-input {
    line-height: 50px;
    border-radius: 10px;
    width: 100%;
    margin: 10px 0px;
    outline: none;
    background-color: var(--color-main-white);
    border: none;
    padding: 0px 15px;
    font-size: medium;

    &:focus {
        background-color: var(--color-input-contrast-bg);
        border: none;
    }
}

/* answer to me */
/* ToMeList */

.tome-question-field {
    margin-bottom: 10px;
    padding: 30px;
    background-color: var(--color-overlay-black);
    display: flex;
}

.tome-question-num {
    font-size: x-large;
}

.tome-question-title {
    font-weight: 900;
    font-size: x-large;
}

.tome-answer-field > i {
    margin-left: 10px;
}

/* 과거 답변 페이지 History */

.history-container {
    width: 90%;
    max-width: 800px;
}

.history-overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(80, 80, 80);
    z-index: 10;
    font-size: x-large;
    font-weight: 900;

    .history-overlay-inner {
        color: var(--color-main-white);
    }
}

.history-header {
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5px;

    .history-home {
        margin: 5px auto 10px 0px;
        z-index: 10;
    }
}

.history-pre-btn > i {
    color: var(--color-main-white);
}

.history-elem-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    max-height: 650px;
    overflow: auto;
    width: 100%;

    .history-elem {
        position: relative;
    }
}

.star {
    margin: 50px 2.5px 0 0;
    position: relative;
    display: block;
    width: 0px;
    height: 0px;
    border-right: 30px solid transparent;
    border-bottom: 20px solid var(--color-main-white);
    border-left: 30px solid transparent;
    transform: rotate(35deg);

    &:before {
        border-bottom: 24px solid var(--color-main-white);
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        position: absolute;
        height: 0;
        width: 0;
        top: -15px;
        left: -18px;
        display: block;
        content: '';
        transform: rotate(-35deg);
    }
    &:after {
        position: absolute;
        display: block;
        color: transparent;
        top: 0px;
        left: -29px;
        width: 0px;
        height: 0px;
        border-right: 30px solid transparent;
        border-bottom: 20px solid var(--color-main-white);
        border-left: 30px solid transparent;
        transform: rotate(-70deg);
        content: '';
    }
}

.bar {
    border-right: 2px solid var(--color-main-white);
    width: 15px;
    height: 80px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--color-main-white);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    .sub-circle {
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
}

#tome-purple-circle {
    border: 2px solid var(--color-main-heavy-purple);
    background-color: var(--color-main-heavy-purple);
}

#byothers-blue-circle {
    border: 2px solid var(--color-main-blue);
    background-color: var(--color-main-blue);
}

#refl-orange-circle {
    border: 2px solid var(--color-main-carrot);
    background-color: var(--color-main-carrot);
}

.history-desc {
    position: absolute;
    left: 50px;
    bottom: 0px;
    width: fit-content;

    & div {
        min-width: 100px;
        padding: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .history-desc-date {
        font-size: 16px;
        color: var(--color-main-gray);
    }
}

.scroll-on {
    width: 100%;
    height: 3px;
    background-color: var(--color-ee);

    .scroll-bar {
        height: 3px;
        background-color: var(--color-main-red);
    }
}

/* byother */

.byother-question-field {
    margin-bottom: 10px;
    padding: 30px;
    background-color: var(--color-overlay-black);
    display: flex;

    .byother-question-num {
        font-size: x-large;
    }

    .byother-question-title {
        font-weight: 900;
        font-size: x-large;
    }
}

// modal
.modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 50px;
    z-index: 100;
}

.modal {
    position: absolute;
    background-color: white;
    padding: 20px;
    margin: auto;
    width: 500px;
    min-width: 400px;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.5s;
    animation-name: animatetop;
    animation-duration: 0.5s;
    cursor: auto;
    z-index: 999;
}

.popup-content {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > div {
        width: 100%;
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--color-main-black);
    }
}

.popup-button-wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    & button {
        display: inline-block;
        text-align: center;
        width: 100px;
        height: 35px;
        padding: 0 14px 0;
        border: 1px solid #555;
        border-radius: 3px;
        background-color: #555;
        font-size: 15px;
        color: #fff;
        line-height: 25px;
        margin: 3px;
        cursor: pointer;

        &:hover {
            background-color: white;
            color: var(--color-main-black);
            border: 1px solid var(--color-main-black);
        }
    }
}

/* Experience Main 페이지 */

.exp-container {
    margin-top: 40px;
    width: 90%;
}

.exp-header {
    line-height: 50px;
    & > h1 {
        padding: 10px;
    }
}

.exp-start {
    display: flex;
    justify-content: center;
    align-items: center;
}

.exp-button {
    text-align: center;
    background-color: var(--exp-btn-tarquoise);
    border-radius: 30px;
    padding: 15px;
    width: 500px;
    font-size: 20px;

    &:hover {
        transition: 0.3s;
        background-color: var(--exp-btn-heavy-tarquoise);
    }
}

/* Experience Form 페이지*/

.expr-wrap {
    color: var(--color-main-white);
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 900px;
    padding: 10px;

    .expr-header {
        line-height: 40px;
        font-size: 2em;
        font-weight: 900;
        color: var(--color-main-white);
    }

    .expr-content {
        display: flex;
        flex-direction: column;
        background-color: var(--color-overlay-black);
        width: 100%;
        height: fit-content;
        padding: 20px;
        color: var(--color-main-white);
    }
}

.input-field {
    // 공통 input design
    font-family: var(--font-kor);
    padding: 5px;
    width: 99%;
    margin: 5px 0px;
    border: 1px solid transparent;
    &:focus {
        transition: 0.3s;
        outline: none;
        background-color: var(--color-main-white);
    }
}

.expr-headline input {
    // 제목
    line-height: 10px;
    font-weight: 800;
    font-size: x-large;
    background-color: var(--color-e2);
    font-family: var(--font-kor);
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
        -webkit-transition: background-color 9999s ease-out;
        // -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
        -webkit-text-fill-color: var(--color-main-black);
    }
}

.expr-text {
    // 상세 내용
    overflow: auto;

    & textarea {
        font-size: 15px;
        min-width: 300px;
        width: 100%;
        max-width: 99%;
        min-height: 100px;
        max-height: 300px;
    }
}

.date-input {
    // 기간
    display: flex;
    align-items: center;

    & i {
        margin: 5px;
        color: var(--color-btn-contrast-bg);

        &:hover {
            color: var(--color-main-purple);
        }
    }

    & input {
        margin: 5px 5px;
        border: none;

        &:focus {
            border: none;
        }
    }
}

.file-wrapper {
    // 첨부 파일
    display: flex;

    .file-input {
        width: 80px;
        height: 80px;
        background-color: var(--color-e2);
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
    }
}

.theme-input input,
.link-input input {
    // 주제, 링크
    padding: 6px 5px;
}

.expr-add-btn {
    background-color: var(--color-main-purple);
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    color: var(--color-main-white);
    font-weight: 900;

    &:hover {
        transition: 0.3s;
        color: var(--color-main-white);
        background-color: var(--color-main-heavy-purple);
    }
}

/* Exprience Done 페이지 */
.expr-done-btns {
    width: 300px;
    display: flex;
    justify-content: space-around;

    & > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* Account 계정 페이지 메인 */

.account-section {
    color: var(--color-main-black);
}

.account-logo {
    color: var(--color-main-black);
}

.account-container {
    margin: 100px auto;
    min-width: 850px;
    max-width: 850px;
    min-height: 700px;
    border: 1px solid var(--color-e2);
    display: flex;
    background-color: var(--color-main-white);
}

/* MyAccount */
.sidebar {
    width: 240px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--color-e2);
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;

    .img-profile {
        width: 150px;
        height: 150px;
        border-radius: 50%;

        img {
            border-radius: 50%;
            width: 150px;
            height: 150px;
        }
        .empty-image {
            background: var(--image-profile) no-repeat center/cover;
            width: 150px;
            height: 150px;
            border: 1px solid var(--color-e2);
            border-radius: 50%;
        }
    }

    .profile-infos {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0px;

        .profile-info {
            font-family: var(--font-kor);
            line-height: 30px;
        }
        .profile-name {
            font-size: 1.3em;
        }
    }
}

.profile-tabs {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    .profile-tab {
        padding: 10px;
        border-bottom: 1px solid var(--color-e2);

        &:first-child {
            border-top: 1px solid var(--color-e2);
        }
    }
}

.logout-button {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
/* MyAccount-본문 */

.account-wrapper {
    width: calc(100% - 230px);

    .acc-title {
        margin: 10px;
        font-weight: 900;
        font-size: 2em;
    }
}

.acc-header {
    font-size: large;
    color: var(--color-main-heavy-gray);
    font-weight: 900;
    padding: 15px;
    border-bottom: 1px solid var(--color-ee);
    width: 100%;
}

.modify-field {
    display: flex;
    align-items: center;
}

.user-avatar-img {
    background: var(--image-profile) no-repeat center/cover;
    border: 1px solid var(--color-e2);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: relative;
    margin: 20px 0 0 30px;

    .ab-avatar {
        position: absolute;
        bottom: 0px;
        background-color: var(--color-main-white);
        border: 1px solid var(--color-e2);
        border-radius: 50%;
        padding: 10px;
        cursor: pointer;
    }

    .user-avatar-edit {
        right: 0px;
    }
}

.user-img {
    border: 1px solid var(--color-e2);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: relative;
    margin: 20px 0 0 30px;
}

.modify-user-info {
    margin: 0px 30px;
}

.info-detail {
    margin: 30px 0px;
    position: relative;

    & > input {
        background-color: var(--color-input-contrast-bg);
        border: 1px solid var(--color-e2);
        width: 200px;
        height: 30px;
        border-radius: 5px;
        font-family: var(--font-kor);
        line-height: 20px;
        padding-left: 5px;

        &:focus {
            background-color: var(--color-main-white);
            outline: none;
            box-shadow: 0px 1px 0 rgba(225, 228, 232, 0.2);
        }
    }
}

.info-label {
    font-size: 14px;
    padding-bottom: 3px;
}

/* MyAccount - pwd */
.modify-pwd {
    border-top: 1px solid var(--color-ee);
    margin: 10px;
    padding: 10px;

    .pwd-title {
        font-size: large;
        color: var(--color-main-heavy-gray);
        font-weight: 900;
    }
    .pwd-fields {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        & > div {
            margin: 15px 5px;
        }
    }
}

.pwd-input {
    background-color: var(--color-input-contrast-bg);
    border: 1px solid var(--color-e2);
    width: 180px;
    height: 30px;
    border-radius: 5px;
    margin-top: 5px;
    line-height: 20px;
    padding-left: 5px;

    &:focus {
        background-color: var(--color-main-white);
        outline: none;
        box-shadow: 0px 1px 0 rgba(225, 228, 232, 0.2);
    }
}

.new-pwd-input {
    background-color: var(--color-input-contrast-bg);
    border: 1px solid var(--color-e2);
    width: 180px;
    height: 30px;
    border-radius: 5px;
    margin-top: 5px;
    line-height: 20px;
    padding-left: 5px;

    &:focus {
        background-color: var(--color-main-white);
        outline: none;
        box-shadow: 0px 1px 0 rgba(225, 228, 232, 0.2);
    }
}

.re-new-pwd-input {
    background-color: var(--color-input-contrast-bg);
    border: 1px solid var(--color-e2);
    width: 180px;
    height: 30px;
    border-radius: 5px;
    margin-top: 5px;
    line-height: 20px;
    padding-left: 5px;

    &:focus {
        background-color: var(--color-main-white);
        outline: none;
        box-shadow: 0px 1px 0 rgba(225, 228, 232, 0.2);
    }
}

/* err msg */

.err-wrap {
    position: absolute;
    bottom: -15px;
    width: 500px;
}

.err-msg {
    color: var(--color-main-red);
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}

.acc-save {
    display: flex;
    width: 100px;
    height: 35px;
    align-items: center;
    justify-content: center;
    color: #cecece;
    border: 1px solid var(--color-e2);
    background-color: var(--color-main-white);
    margin: auto 20px 20px auto;
    font-size: 15px;

    &:enabled {
        transition: 0.3s;
        color: var(--color-main-white);
        background-color: var(--color-main-heavy-purple);
    }
}

.acc-save-name {
    display: block;
    width: 100px;
    height: 35px;
    align-items: center;
    justify-content: center;
    color: #cecece;
    border: 1px solid var(--color-e2);
    background-color: var(--color-main-white);
    margin: 10px 10px 10px 200px;
    font-size: 15px;

    &:enabled {
        transition: 0.3s;
        color: var(--color-main-white);
        background-color: var(--color-main-heavy-purple);
    }
}

.acc-save-pw {
    display: flex;
    width: 100px;
    height: 35px;
    align-items: center;
    justify-content: center;
    color: #cecece;
    border: 1px solid var(--color-e2);
    background-color: var(--color-main-white);
    margin: auto 10px 10px auto;
    font-size: 15px;

    &:enabled {
        transition: 0.3s;
        color: var(--color-main-white);
        background-color: var(--color-main-heavy-purple);
    }
}

.acc-save-name-pwd {
    display: flex;
    width: 100px;
    height: 35px;
    align-items: center;
    justify-content: center;
    color: #cecece;
    border: 1px solid var(--color-e2);
    background-color: var(--color-main-white);
    margin: auto 10px 10px auto;
    font-size: 15px;

    &:enabled {
        transition: 0.3s;
        color: var(--color-main-white);
        background-color: var(--color-main-heavy-purple);
    }
}

/* MyAnswer - 본문 */
/* content */
.answer-content {
    display: flex;
    flex-direction: column;
    width: calc(100% - 230px);
    overflow: auto;
}

.user-ans-title {
    margin: 10px;
    font-weight: 900;
    font-size: 2em;
}

.answer-content > .content {
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    width: 90%;
    height: 80%;
    background-color: var(--color-main-white);
    display: flex;
    flex-direction: column;
}

.content-header {
    font-size: large;
    color: var(--color-main-heavy-gray);
    font-weight: 900;
    padding: 15px 0px;
    border-bottom: 1px solid var(--color-ee);
    margin: 0px 30px 0px 30px;
}

.filter-list {
    display: flex;
    margin: 10px;
}

.year-click-text {
    font-size: small;
    margin-left: 20px;
    color: var(--color-main-red);
}

.year-link {
    border: 1px solid var(--color-ee);
    padding: 10px 30px;
    border-radius: 10px;
    margin: 10px;
    color: var(--color-main-black);
}

.year-link:hover {
    cursor: pointer;
    background-color: var(--color-ee);
}

svg {
    overflow: hidden;
}

.calendar-graph rect.day {
    shape-rendering: geometricPrecision;
    outline: 1px solid var(--color-calendar-graph-day-border);
    outline-offset: -1px;
}

.month {
    font-size: 10px;
    fill: var(--color-main-white);
}

.wday {
    font-size: 12px;
}

.category-wrapper {
    height: 50%;
    margin-right: 20px;
}

.category {
    padding: 10px 0px 10px 10px;
}
.category-day {
    display: flex;
}

.label {
    padding: 10px;
    cursor: pointer;
}

.label:hover {
    background-color: var(--color-ee);
}

.label-year,
.label-month {
    // border-bottom: 1px solid var(--color-ee);
    font-weight: 900;
}

.my-answers {
    display: flex;
}

.my-answer-elem {
    color: var(--color-main-black);
    margin: 0px 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--color-ee);
}

.my-answer-elem:hover {
    background-color: var(--color-main-purple);
    color: var(--color-main-white);
    cursor: pointer;
}

.my-answer-container {
    overflow: auto;

    display: flex;
    flex-direction: column;
    width: calc(100% - 230px);
}

.my-answer-title {
    margin: 10px;
    font-weight: 900;
    font-size: 2em;
}

.my-answer-content {
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    height: 80%;
    background-color: var(--color-main-white);
    display: flex;
    flex-direction: column;
}
.my-answer-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-answer-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-pre {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--color-main-heavy-gray);
}

.btn-pre:hover {
    background-color: rgba(99, 42, 119, 0.082);
    transition: 0.2s;
}

.title-text {
    color: var(--color-main-heavy-gray);
    padding: 10px;
    font-weight: bold;
    font-size: 1.5em;
}

.date-text {
    color: var(--color-main-purple);
    margin: 0 0 0 auto;
}

.answers {
    background-color: var(--color-input-contrast-bg);
    width: 90%;
    border-radius: 10px;
    padding: 10px 0 20px 20px;
    margin: 5px 0px;
}

.question-field {
    font-weight: 900;
    font-size: large;
    line-height: 40px;
}

.answer-elem {
    font-size: 17px;
    margin: 10px 0px;
}

// 화면 영역 너비 0 ~ 960px : 타블렛
@media (max-width: 960px) {
    // 헤더의 하위 메뉴 숨기기
    .header-nav > ul > li:nth-child(2),
    .header-nav > ul > li:nth-child(3),
    .header-nav > ul > li:nth-child(4),
    .header-nav > ul > li:nth-child(5) {
        display: none;
    }

    // 메인의 question list 2개씩 띄우기
    .q-nav > ul > li {
        width: 48%;
        height: 200px;
    }
}

// 화면 영역 너비 0 ~ 560px : 휴대용 기기
@media (max-width: 560px) {
    .q-nav > ul > li {
        width: 98%;
        line-height: 200px;
        vertical-align: middle;
    }
}

@media (max-height: 480px) {
    // 메인 배너 숨기기
    .main > section:nth-child(1) {
        display: none;
    }

    // 헤더의 하위 메뉴 숨기기
    .header-nav > ul > li:nth-child(2),
    .header-nav > ul > li:nth-child(3),
    .header-nav > ul > li:nth-child(4),
    .header-nav > ul > li:nth-child(5) {
        display: none;
    }

    .main-question-container {
        padding: 120px 0px;
    }
    .main-question-list {
        width: 90%;
        padding: 5%;
    }
}
